# Previous simulation result directories 
simulations/previous
simulations/*/m_bo.fig
simulations/*/m_bo.jpg
simulations/*/m_f_hist.fig
simulations/*/m_f_hist.jpg
simulations/*/m_prior.fig
simulations/*/m_prior.jpg
simulations/*/m_scan_hist.fig
simulations/*/m_scan_hist.jpg
